/* Header Section Styling */
.header-section {
  position: relative;
  padding: 0px 20px;
  background-color: #00aaff;
  /* margin-left: 140px; */
}

.header-background-ring {
  position: absolute;
  top: 43px;
  right: 100px;
  width: 300px;
  height: 300px;
  background: transparent;
  border: 80px solid #4c15e7;
  border-radius: 50%;
  opacity: 0.2;
  z-index: 1;
}

.header-row {
  position: relative;
  z-index: 2;
}

.header-content {
  text-align: left;
  padding: 20px;
  margin-left: 150px;
}

.header-title {
  font-size: 86px;
  font-weight: bolder;
  color: #000;
  /* line-height: 1.4; */
  text-align: left;
}

.highlighted {
  color: #A78BFA;
  font-weight: bolder;
  font-size: 400px;
}

.header-subtitle {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  display: block;
  text-align: start;
}

.search-bar-container {
  margin-top: 20px;
  display: flex;
  background: #f4f4f4;
  border-radius: 10px;
  max-width:40dvw;
}

.search-bar {
  flex: 1;
  border-radius: 5px;
  padding: 10px;
  margin: 0px;
  background: #f4f4f4;
}

.search-button {
  background: #A78BFA;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 20px 15px;
  font-size: 16px;
  margin-left: 10px;
  /* margin-top: 5px; */
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-button:hover {
  background-color: #A78BFA;
}

.header-image-container {
  position: relative;
  text-align: center;
}

.girl-image {
  max-width: 90%;
  height: auto;
}

.service-callout {
  position: absolute;
  top: 0;
  right: 0%;
  background: #a7a3a311;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  text-align: left;
  width: 230px;
}

.callout-text {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  display: block;
}

.callout-button {
  background-color: #080808;
  color: #fff;
  border: none;
  border-radius: 20px;
  width: 60%;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  cursor: pointer;
}

.callout-button:hover {
  background-color: #10a4d1c2;
}

.gear-img {
  position: relative;
  bottom: 40px;
  right: 10px;
  width: 150px;
}

.left-image-container {
  position: absolute;
  top: 300px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}