.container {
    max-width: 500px;
    padding-top: 5px !important;
     /*background-color: #9cde40 !important;*/
}

.logo-img {
    position: absolute;
    top: 20px;
    left: 70px;
    width: 200px;
}

.hair-machine-img {
    position: absolute;
    left: 0;
    top: 30%;
    transform: translateX(-63%);
    max-width: 200px;
    height: auto;
}

.btn-div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*gap: 12px; !* space between text and button *!*/
    /*flex-direction: row; !* default: side by side *!*/
    /*text-align: center;*/
}

.login-text {
    margin-right: 40px;
}

.signup-btn {
    background-color: #A78BFA;
    color: white;
    border-radius: 50px;
    border: none;
}

.cancel-btn {
    border: 1px solid #A78BFA;
    border-radius: 50px;
    color: #A78BFA;
}

.title {
    text-align: center;
    color: #A78BFA !important;
    padding-bottom: 30px;
}

.label {
    color: #7D7D7D;
}

.log-in-txt {
    color: #A78BFA !important;
}

.txt{
    display: block;
    text-align: center;
}

.login-link {
    color: #6d3cff !important;
    text-decoration: none;
}

.signup-btn {
    background-color: #A78BFA;
    color: white;
    width: 200px;
    border-radius: 40px;
    font-weight: 500;
    border: none;
}

.signup-btn:hover {
    background-color: #7e52ff !important;
    color: white !important;
}

@media (max-width: 900px) {
    .logo-img {
        display: block;          /* make it visible */
        margin: 20px auto 0;     /* top margin 20px, auto horizontal to center */
        width: 150px;            /* or your desired width */
        height: auto;            /* keep aspect ratio */
        /*background-color: #6d3cff !important;*/
    }

    .hair-machine-img {
        display: none;
    }

    .responsive-input {
        max-width: 250px;  /* smaller input width on mobile */
    }

    .signup-form {
        display: block;          /* make it visible */
        margin: 20px auto 0;     /* top margin 20px, auto horizontal to center */
        width: 250px;            /* or your desired width */
        height: auto;            /* keep aspect ratio */
    }

    .btn-div {
        flex-direction: column;
    }
}