/* Benefits Section Styling
.benefits-section {
    background: #f8f9fa;
    padding: 50px 20px;
    text-align: center;
}

.benefits-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.highlighted {
    color: #00aaff;
}

.benefits-row {
    max-width: 1000px;
    margin: 0 auto;
}

.benefit-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.benefit-item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.benefit-icon {
    font-size: 32px;
    color: #00aaff;
    margin-bottom: 10px;
}

.benefit-text {
    font-size: 16px;
    color: #333;
} */

/* Benefits Section Styling */
.benefitsSection {
  background: #ffffff;
  padding: 50px 20px;
  text-align: left;
  margin-left: 100px;
  /* display: flex;
  justify-content: space-around; */
}


.benefitsTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.highlighted {
  color: #000000;
  font-weight: bold;
  font-size: 1.5rem;
}

.benefitsRow {
  max-width: 1000px;
  margin: 0 auto;
}

.benefitItem {
  display: flex;
  align-items: flex-start;
  text-align: left;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  margin-bottom: 20px;
}

/* .benefitItem:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
} */

.benefitIcon {
  font-size: 32px;
  color: #A78BFA;
  margin-right: 20px;
  position: relative;
  top: 30px;
}

.benefitText {
  font-size: 16px;
  color: #333;
}

.hair-machine-img {
    /* width: 100%; */
    height: auto;
    object-fit: contain;
    padding-left: 1250px;
}

.benifitsName{
  margin-top: 100px;
} 