.admin-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    font-family: Arial, sans-serif;
    position: fixed; /* Fix the header at the top */
    top: 0; /* Position it at the top */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    z-index: 1000; /* Set a high z-index to ensure it stays above other elements */
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo-text {
    width: 200px;
    margin: 4px;
}

.logo-subtext {
    font-size: 0.8em;
    color: #888888;
}

.header-menu {
    margin-left: 40px;
    margin-top: -10px;
    border-bottom: none;
}

.header-menu .ant-menu-item {
    font-size: 1em;
    color: #333333;
}

.user-profile {
    display: flex;
    align-items: center;
}

.username {
    margin-left: 10px;
    cursor: pointer;
    color: #333333;
}